<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- configSections deve ser o 1o filho do arquivo de configuração por norma da linguagem -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="FrankJob.Log.EnableStackLog" value="true" />
    <add key="FrankJob.Log.ShowDefaultPropertiesValue" value="false" />
    <add key="FrankJob.Log.JsonIndented" value="true" />
    <add key="FrankJob.Log.UsersToMonitor" value="" />
    <add key="FrankJob.Log.EnableAllSettingsInUsersToMonitor" value="false" />
    <add key="FrankJob.Log.EnableHttpContext" value="false" />
    <!--ApplicationInstance; Handler; Current; User; Response; Request; Cache-->
    <add key="FrankJob.Log.HttpContextPropertiesIgnore" value="" />
    <add key="FrankJob.Log.EnableStackTrace" value="false" />
    <add key="FrankJob.Log.StackTraceWithoutNumbers" value="false" />
    <add key="FrankJob.Log.EnableServerVariables" value="false" />
  </appSettings>

  <log4net>
    <appender name="RootLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Users\\franc\\Documents\\visual studio 2015\\Projects\\FrankJob.Log\\FrankJob.Log.Test\\Log\\Log4NetRoot.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <appender name="StackLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Users\\franc\\Documents\\visual studio 2015\\Projects\\FrankJob.Log\\FrankJob.Log.Test\\Log\\Log4NetStack.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
      <!--<threshold value="STACK"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="STACK"/>
        <param name="LevelMax" value="STACK"/>
      </filter>-->
    </appender>
    <root name="RootLog">
      <level value="ALL"/>
      <appender-ref ref="RootLogFileAppender"/>
    </root>
    <logger additivity="false" name="StackLog">
      <level value="STACK"/>
      <appender-ref ref="StackLogFileAppender" />
    </logger>
  </log4net>

</configuration>